<footer class="page-footer teal lighten-5">
    <div class="container">
      <div class="row">
        <div routerLink="/list-expenses" class="col l6 s12">
          <img alt="Logo" src="/assets/logo-no-background.png" width="200" height="60">
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="black-text">Pages</h5>
          <ul>
            <li><a routerLink="/list-expenses" class="black-text text-lighten-3" href="#!">Home</a></li>
            <li><a routerLink="/about-me" class="black-text text-lighten-3" href="#!">About Me</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container black-text">
      © 2014 Copyright Text
      </div>
    </div>
</footer>