<div class="row">
    <form class="col s12">
        <div class="
            alert card white-text"
            [class.green]="this.saveSucceeded"
            [class.red]="this.deleteSucceeded"
            [hidden]="!this.warningMessage">
            <div class="card-content">
                <p><i class="material-icons">
                    {{ this.warningIcon }}
                </i><span>
                    {{ this.warningMessage}}
                </span> 
                    {{ this.warningSubMessage }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <label for="expenseName">Expense Name</label>
                <input type="text" id="e-name" name="expenseName"
                [(ngModel)]="this.expense.name">
            </div>

            <br>
            <div class="collection">
                <label for="expenseValue">Expense Category</label>
                <a href="#!" class="collection-item"><span class="black-text light-blue badge">Tag example</span>Salary</a>
                <a href="#!" class="collection-item"><span class="black-text light-green accent-3 badge">Tag example</span>Health</a>
                <a href="#!" class="collection-item"><span class="black-text yellow accent-2 badge">Tag example</span>Food</a>
                <a href="#!" class="collection-item"><span class="black-text cyan accent-2 badge">Tag example</span>Hobby</a>
                <a href="#!" class="collection-item"><span class="black-text red accent-2 badge">Tag example</span>Bill</a>
                <a href="#!" class="collection-item"><span class="black-text red badge">Tag example</span>Fuel</a>
                <a href="#!" class="collection-item"><span class="black-text purple accent-1 badge">Tag example</span>Others</a>
            </div>

            <div class="input-field col s12">
                <label for="expenseValue">Expense Value</label>
                <input type="text" id="eValue" name="expenseValue"
                [(ngModel)]="this.expense.value"
                mask="separator.2"
                [thousandSeparator]="'.'"
                [decimalMarker]="','"
                prefix="R$ "
                [dropSpecialCharacters]="true"
                [showMaskTyped]="false">
            </div>

            <div class="input-field col s12">
                <a class ="waves-effect waves-light green lighten-1 btn" type="submit" value="Save"
                (click)="this.onButtonSaveClick();">Save</a>
                <a class ="waves-effect red btn" type="submit"
                (click)="this.onButtonDeleteClick();">Delete</a>
            </div>

        </div>
    </form>
</div>