
<nav>
    <div class="nav-wrapper teal lighten-4">
      <!-- <a href="/assets/logo-no-background.png" class="brand-logo black-text">Logo</a> -->
      <img alt="Logo" src="/assets/logo-no-background.png" width="200" height="60">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class = "black-text" href="sass.html">Home</a></li>
        <li><a class = "black-text" href="badges.html">About Me</a></li>
        <li><a class = "black-text" href="collapsible.html">Contact</a></li>
      </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo" #mobile>
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
</ul>
