<div class="teal lighten-5 NavContent" style="width: 100%; height: 95px; padding-left: 160px; padding-right: 160px; padding-top: 20px; padding-bottom: 20px; justify-content: space-between; align-items: center; display: inline-flex">
  <div class="LogoNoBackground2" style="width: 200px; height: 55px; justify-content: center; align-items: center; display: flex">
    <img routerLink="/list-expenses" class="LogoNoBackground1" style="width: 200px; height: 55px" src="/assets/logo-no-background.png" />
  </div>
  <div class="LeftContent" style="justify-content: flex-start; align-items: center; gap: 32px; display: flex">
    <div class="Divider" style="width: 2px; height: 40px; position: relative; background: #E6E8EC; border-radius: 2px"></div>
    <div routerLink="/list-expenses" class="Home" style="text-align: center; color: #777E90; font-size: 16px; font-family: DM Sans; font-weight: 700; line-height: 16px; word-wrap: break-word">Home</div>
     <div routerLink="/about-me" style="text-align: center; color: #777E90; font-size: 16px; font-family: DM Sans; font-weight: 700; line-height: 16px; word-wrap: break-word">About Us</div>
    <div class="Divider" style="width: 2px; height: 40px; position: relative; background: #E6E8EC; border-radius: 2px"></div>
    </div>
</div>
