<div [routerLink]="['/new-expense']" [queryParams]="{edit:true, name:this.expense.name}" style="width: 1110px; height: 96px; position: relative">
    <div style="width: 1110px; height: 96px; left: 0px; top: 0px; position: absolute; background: #EBEBEB"></div>
    <div style="width: 169px; height: 32px; left: 12px; top: 14px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Philosopher; font-weight: 400; word-wrap: break-word">
        {{ this.expense.name }}
    </div>

    <div class = "{{colorDictionary[this.expense.category]}}" 
    style="width: 202px; height: 36px; padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; left: 12px; top: 46px; position: absolute; border-radius: 12px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
      <div style="text-align: center; color: black; font-size: 24px; font-family: Philosopher; font-weight: 400; word-wrap: break-word">
        {{ this.expense.category }}
    </div>
    </div>
    <div style="width: 172px; height: 34px; left: 910px; top: 30px; position: absolute; text-align: center; color: #FF0000; font-size: 32px; font-family: Philosopher; font-weight: 400; word-wrap: break-word"> 
        {{ this.expense.value }}    
    </div>
  </div>