<div class="SubtitleComponent">
  <div class="RecentExpenses">Recent expenses</div>
  <a routerLink="/new-expense" class="AddNewExpense waves-effect waves-light black-text btn">Add new expense</a>
</div>

<!-- <app-single-date [dateText]="dateString" ></app-single-date>
<br>
<br>
<app-single-expense [expense]="expense"></app-single-expense> -->

<div *ngFor="let date of dateArray">
  <app-single-date [dateText]="date"></app-single-date>
  <br>
  <br>
  <div *ngFor="let expense of expenseMap[date]">
    <app-single-expense [expense]="expense"></app-single-expense>
  </div>
</div>