.SubtitleComponent {
    width: 1113px;
    height: 60px;
    position: relative;
}

.AddNewExpense{
    width: 200px;
    height: 36px;
    right: 0px;
    top: 14px;
    position: absolute;
    background: #00FF19;
    border: 1px black solid;
}

.RecentExpenses {
    width: 175px;
    height: 29px;
    left: 10px;
    top: 14px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 24px;
    font-family: Philosopher;
    font-weight: 400;
    white-space: nowrap;
  }